<form action="/post" method="post" accept-charset="utf-8" class="well form-inline center" style="text=align:center;">
	<input type="text" name="post" class="span8" value="" placeholder="我要发言">
	<button type="submit" class="btn btn-success"><i class="icon-comment icon-white">发言</i> </button>
</form>